.header-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: #888888 1px solid;
    padding-bottom: 0 !important;
    padding-top: 0 !important;

}

.first-header{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom: #888888 1px solid;
}