@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
}
.page-container{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
} 
.subtitle{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  color: #333333;
}
.buttons-container{
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  font-weight:bold;
}
.prev-page-btn{
  background-color: #FFFFFF;
  color: #C23934;
  border: #DDDBDA 1px solid;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  width: 100px;
  height: 32px;
  margin-right: 25px;
  font-weight:bold;
}
.next-page-btn{
  background-color: #C9C7C5;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  font-family: 'Nunito', sans-serif;
  width: 100px;
  height: 32px;
  font-weight:bold;
}
button.next-page-btn:active{
  background-color: #D00E2A;
  color: #FFFFFF;
  border: none;
}
button.next-page-btn:enabled{
  background-color: #D00E2A;
  color: #FFFFFF;
  border: none;
}
.form{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Nunito', sans-serif;
}
.input-title{
  color: #3E3E3C;
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  display:flex;
  flex-direction: row;
  font-weight: 400;
}
.input-btns{
  flex-direction: row;
}
.asterisk{
  color: #A61A14;
}
.input-space{
  width: 183px;
  height: 32px;
  color: 706E6B;
  border: #DDDBDA 1px solid;
  border-radius: 4px;
  padding-left: 0.5%;
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin-right: 8px;
  outline: none;
}
.button1{
  background-color: #FFFFFF;
  border: #FFFFFF 0px solid;
  /*border-radius: 4px;*/
  width: 42px;
  height: 32px;
  margin-right: 24px;
}
.icon-text{
  display:flex;
  flex-direction: row;
  color: #333333;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 32px;
}
.icon2{
  width: 44px;
  height: 44px;
  margin-right: 36px;
}
.error-message{
  font-family: 'Nunito', sans-serif;
  font-size: 12px;
  color: #C23934;
}
.card-img{
  width: 219px;
  height: 331px;
}
.infoHelp{
  border-radius: 10px;
  border: solid 1px #ccc;
  padding: 1rem;
}

.card-section{
  position: relative;
}

.card-owner{
  top: 11em;
  left: 18px;
  position: absolute;
  font-size: 15px;
  color: white;
}

.card-number{
  top: 13em;
  left: 18px;
  position: absolute;
  font-size: 14px;
  color: white;
}