@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
} 
.mobile-title{
    display: none;
}
.mobile-text{
    display:none;
}
.first-container{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: row;
}
.card-container{
    margin-right: 134px;
}
.text-img{
    display: flex;
    flex-direction: row;
    color: #333333;
    margin-bottom: 64px;
}
.card_img{
    width: 265px;
    height: 422px;
}
.password-container{
    width: 266px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
}
.password-input{
    width: 220px;
    height: 32px;
    margin-top: 8px;
    border-radius: 4px;
    margin-bottom: 56px;
}
input{
    border: #D9DBDD 1px solid;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    margin-top: 16px;
    font-size: 14px;
    padding-left: 8px;
}
input:focus{
    border: #C23934 1.5px solid;
    border-radius: 4px;
}
input:focus-visible {
    outline: none;
}
.title1{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0px;
    margin-top: 0px;
}
.icons{
    display: flex;
    flex-direction: row;
} 
.icon{
    width: 40px;
    height: 40px;
    margin-top: 12px;
}
.info_text{
    font-size: 16px;
    width: 336px;
    margin-top: 8px;
}
a{
    color:#333333;
    font-weight: 600;
}
.information-div{
    display: flex;
    flex-direction: row;
    margin-left: 56px;
    border: #D9DBDD 1px solid;
    border-radius: 4px;
    width: 328px;
    height: 98px;
}
.icon2{
    width: 40px;
    height: 40px;
    margin-top: 12px;
    margin-left: 16px;
    margin-top: 16px;
}
.info_text2{
    font-size: 16px;
    margin: 16px;
    width: 232px;
}
.buttons-container{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    font-weight:bold;
    margin-top: 16px;
}
.btn1{
    background-color: #FFFFFF;
    color: #C23934;
    border: #DDDBDA 1px solid;
    border-radius: 4px;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    width: 100px;
    height: 32px;
    margin-right: 25px;
    font-weight:bold;
}
.btn2{
    background-color: #C9C7C5;
    border: none;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    width: 100px;
    height: 32px;
    border-radius: 4px;
}
button.button:active {
    background-color: #D00E2A;
}
button.button:enabled {
    background-color: #D00E2A;
}
@media (min-width: 320px) and (max-width: 480px) {
    .mobile-title{
        display: block;
        font-family: 'Nunito', sans-serif;
        font-size: 32px;
        color: #D00E2A;
        margin-bottom: 40px;
        width: 350px;
    }
    .mobile-text{
        display: block;
        width: 100%;
        font-family: 'Nunito', sans-serif;
        font-size: 16px;
    }
    .first-container{
        flex-direction: column;
    }
    .text-img{
        flex-direction: column;
    }
    .card_img{
        position:absolute;
        width: 265px;
        height: 422px;
        margin-top:350px;
        margin-left: 35px;
    }
    .password-container{
        margin-left: 0;
        position:absolute;
        margin-top: 120px;
    }
    .information-div {
        margin-left: 0;
        position:absolute;
    }
    .info_text {
        margin-top: 450px;
    }
    .buttons-container{
        margin-top: 1100px;
        margin-left: 330px;
    }
}
/*popover*/
.slds-popover__header{
    padding-bottom: 5px;
    border-bottom: #DDDBDA 1px solid;
}
p{
    padding-top: 5px;
}