@font-face {

    font-family: 'Nunito', sans-serif;

    src: url ('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

}

.textlong{
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    padding:5px;
}

.textTitle{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    padding:5px;
}

.table-wrapper {
    position:relative;
  }

  .table-scroll {
    height:411px;
    overflow:scroll;  
    margin-top:20px;
  }
  .table-scroll2 {
    overflow:scroll;  
    margin-top:20px;
  }

  .table {
    font-family:'Nunito', sans-serif;
    border-collapse: collapse;
    width: 100%;
     border-radius: 1em; 
    font-weight: 700;
    overflow:hidden;
  }
  
  .table-scroll thead th { position: sticky; top: 0; z-index: 1; }

 .th {
    position: sticky; top: 0; z-index: 1;
    background-color: red;
    color:white;
    font-weight: 700;
    /* border: 1px solid #dddddd;
    border-right: none; */
    text-align: left;
    padding: 8px;
  }

  .tr{
    width: 1%;
    white-space: nowrap;
  }

  .td{
    background-color: white;
    font-weight: 700;
    text-transform:uppercase;
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width:2%;
    white-space: nowrap;
  }

  .table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
    width: 1%;
    white-space: nowrap;
}